# Ignore data
data/

# Ignore trained models
models/

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Virtual Environment
backend/backend-env/
venv/
env/

# Flutter
flutter_app/build/
flutter_app/.dart_tool/