# =========================
# DATA & MODELS
# =========================
data/
models/
*.pkl
*.h5
*.pt

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
backend-env/
backend/backend-env/

# =========================
# FLUTTER
# =========================
flutter_app/build/
flutter_app/.dart_tool/
flutter_app/.idea/
flutter_app/.packages
flutter_app/pubspec.lock

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/